/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/* Header Styles */
.site-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  font: 1.3rem 'Baloo Paaji 2';
  margin-top: 20px;
}
.site-header h1 {
  font-size: 1.8rem;
}
.site-header .profile-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  line-height: 1.4rem;
  margin-bottom: 2rem;
  text-align: center;
}
.site-header .site-nav {
  height: 23rem;
}
.site-header .site-nav li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #e7af47;
}
.site-header .site-nav li a {
  color: #e7af47;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
/* Primary Styles */
.site-wrapper {
  width: 100%;
}
/* Content Styles */
.card {
  padding: 1.5rem;
  background: #fbf7f7;
  margin: 1rem;
  font: 1rem 'PT Sans';
}
.card h2 {
  font-weight: bold;
  margin-bottom: 1rem;
}
.card li {
  padding: 1.4rem;
}
.card table {
  border-radius: 10px;
  background-color: #ffffff;
  margin-top: 20px;
  width: 100%;
}
.card table thead {
  background: darkslategray;
  color: #fff;
}
.card table thead tr {
  text-align: left;
}
.card table thead tr th {
  padding: 10px;
}
.card table tbody tr:nth-child(even) {
  background: #ececec;
}
.card table tbody tr:hover {
  background: #c8c8c8;
}
.card table tbody tr td {
  padding: 10px;
}
.card .experience-item h3 {
  font-weight: bold;
}
.card .experience-item .role-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.card .experience-item ul {
  margin-bottom: 20px;
}
/* Footer Styles */
.site-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  background-color: #eaeaea;
  padding: 2rem;
  width: 100%;
}
